---
layout: default
title: Ludovic Delespierre
---
{% for post in site.posts %}
<div class="block animated fadeInUp">
	<section class="grayscale">
		<a href="{{ post.url }}">
			{% if post.thumbType == 'image' %}
			<img src="{{ post.thumb }}">
			{% elsif post.thumbType == 'video' %}
			<iframe width="300" height="169" src="{{ post.thumb }}" frameborder="0" awebkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			{% else %}
			<span>{{ post.title }}</span>
			{% endif %}
		</a>
	</section>
	<h3>{{ post.title | upcase }}</h3>
	<i>{{ post.category }}</i>
</div>
{% endfor %}

